* {margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #141414;
    
}

.container {
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.2) 20%, 
            rgba(20, 20, 20, 0.2) 80%,
            rgba(20, 20, 20, 1) 100%),
        url('../img/armfundowebp.webp');
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
}

.background {
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0.3rem;
}
.header{
    display: flex;
    align-items: center;
}
.logo img {
    width: 5.8rem;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.menu-esquerda, .menu-direita{
    display:flex;
    color: #e5e5e5;
    font-size: 0.875rem;
}
.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
     
}
.menu ul a:hover{
    color:rgb(255, 255, 255);
}
.menu ul a {
    color: #e5e5e5;
    text-decoration: none;
    padding-right: 0.9rem;
}
.menu .usuario img {
    width: 2rem;
    margin-right: 0.5rem;
}
.menu i{
    font-size: 20px;
}
.menu-direita ul a{
    padding-right: 1.5rem;
}
.banner{
    margin: 1rem;
    background: rgba(51, 51, 51, 0.4);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
 }
 .banner .poster{
     width: 450px;
 }
 .banner .subtitulo{
    line-height: 27px;
    font-size: 18px;
    color: #e5e5e5;
    padding-top: 0.5rem;
 }
.buttons {
    margin-top: 2rem;
}
.buttons .btn a:hover {
    color:rgb(255, 255, 255);
}
.buttons .btn {
    color:#AAA;
    background: rgba(51, 51, 51, 0.4);
    padding-right: 0.6rem 2rem;
    margin-right: 0.75rem;
    font-weight: 600;
    border-radius: 0.125rem;
    font-family: inherit;
    font-size: 100%;
    border: 0;
}

.buttons .btn a{
    color: #AAA;
    text-decoration: none;
    margin-right: 2rem;
}
.buttons .btn i{
    margin-right: 2rem;

}

.categorias{
    height: 200px;
}

.categorias span{
    color: #e5e5e5;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
}

.slide .carrosel-filmes {
    height: 100%;
    width: 100%;
    display: block;
}

.footer{
    align-items: center;
    height: 4rem;
}
.footer .social a{

    color: #e5e5e5;
    text-decoration: none;
    font-size: 28px;
    padding: 26px;
}

